<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
    <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand title" href="#">Project name</a>
    <div id="navbar">
        <nav class="nav navbar-nav pull-xs-left nav-links">
            <a class="nav-item nav-link" href="#">Dashboard</a>
        </nav>
        <form class="pull-xs-right">
            <input type="text" class="form-control" placeholder="Search...">
        </form>
    </div>
</nav>
